<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>TaraCat</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/core.css" rel="stylesheet" media="screen" th:href="@{/css/core.css}"/>
    <style th:inline="css" th:each="tarakanBot : ${tarakanBots}">
        #tarU {position: relative; cursor: pointer;}
        #tarB {position: relative; cursor: pointer;}

        #[[${tarakanBot.imgId}]] {position: relative;cursor: pointer;}
        body {
            background: #c7b39b url(../static/images/tarB.png); /* Цвет фона и путь к файлу */
            color: #fff; /* Цвет текста */
        }
    </style>

</head>
<body>
<div class="navbar navbar-light navbar-fixed-top" style="background-color: #fccd92;" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/main}">My Game</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li >
                    <a href="/choose_game" th:href="@{/game}">Games</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/login" th:href="@{/login}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/registration" th:href="@{/registration}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign up
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                  <H4><span th:text="${#httpServletRequest.remoteUser}"></span></H4>

                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{/logout}">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="footer">
    <p><p>&copy; 2019 TaraCat
</div>
</body>
</html>