<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head  th:replace="base-layout :: head">

<title>TaraCat</title>
</head>
<body >
<div th:replace="base-layout :: header"></div>
<div style="padding:10px;float:left;">

<form method="post" action="catfightkick">

	<div style="width:300px;padding:10px; border:1px solid #000;float:left;">
		<div style="width:150px;float:left;"><input type="hidden" name="catid" th:value="${catid}"><span th:text="${catname}"></span> [<span th:text="${catlevel}"></span>] (<span th:text="${cathpstart}"></span>/<input type="hidden" name="cathpfinish" th:value="${cathpfinish}"><span th:text="${cathpfinish}"></span>)</div>
		<div style="width:125px;float:right;">
			<div style="float:left;margin-left:3px;">Attack</div>
			<div style="float:right;margin-right:10px;">Deff</div>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
		<div style="width:150px;height:245px;margin-top:25px;background-color:#ccc;float:left;">Cat Image (Avatar)</div>
		<div style="width:125px;float:right;margin-top:25px">
			<div style="float:left;">
				<div style="width:50px;height:50px;background-color:#ccc">Head<input type="radio" name="catattack" value="1" checked="checked" /></div>
				<div style="width:50px;height:50px;background-color:#ccc;margin-top:15px;">Nack<input type="radio" name="catattack" value="2"></div>
				<div style="width:50px;height:50px;background-color:#ccc;margin-top:15px;">Body<input type="radio" name="catattack" value="3"></div>
				<div style="width:50px;height:50px;background-color:#ccc;margin-top:15px;">Legs<input type="radio" name="catattack" value="4"></div>
			</div>
			<div style="float:right;">
				<div style="width:50px;height:50px;background-color:#ccc">Head<input type="radio" name="catdeff" value="1" checked="checked"></div>
				<div style="width:50px;height:50px;background-color:#ccc;margin-top:15px;">Nack<input type="radio" name="catdeff" value="2"></div>
				<div style="width:50px;height:50px;background-color:#ccc;margin-top:15px;">Body<input type="radio" name="catdeff" value="3"></div>
				<div style="width:50px;height:50px;background-color:#ccc;margin-top:15px;">Legs<input type="radio" name="catdeff" value="4"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div style="margin:150px 25px 0px 25px;float:left;">VS</div>
	<div style="padding:10px; border:1px solid #000;float:left;">
		<div style="width:200px;float:left;"><input type="hidden" name="catbot" th:value="${catbot}"><input type="hidden" name="catbotid" th:value="${catbot}"><span th:text="${catbotname}"></span> (<span th:text="${catbothpstart}"></span>/<input type="hidden" name="catbothpfinish" th:value="${catbothpfinish}"><span th:text="${catbothpfinish}"></span>)</div>
		<div style="clear:both;"></div>
		<div style="width:150px;height:245px;margin-top:25px;background-color:#ccc;float:left;">Cat Image (Avatar)</div>
		<div style="clear:both;"></div>
	</div>
	<div style="clear:both;height:25px;"></div>
	<div style="text-align:center;margin-bottom:25px;"><input type="submit" value="Kick!" /></div>
	<div style="padding:10px;width:545px;border:1px solid #000;">
        <div th:text="${catmessage}"></div>
        <div th:text="${catmessage2}"></div>
	</div>

</form>
	
</div>

</body>
</html>