<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="base-layout :: head"></head>
<body>
<div th:replace="base-layout :: header"></div>
<div class="container" align="center">

<div style="width:650px;">
	<a th:href="@{/cat}" title="" style="float:left;width:300px;height:300px;text-align:center;border:1px solid #ccc;">Cat Fight <img src="../static/images/cat1.gif" width="280" th:src="@{images/cat1.gif}"></a>
	<a th:href="@{/tarlist}" title="" style="float:right;width:300px;height:300px;text-align:center;border:1px solid #ccc;">Run Tarakan <img src="../static/images/tarU.gif" width="280" th:src="@{images/tarU.gif}"></a>
	<a th:href="@{/list_of_all}" title="" style="float:right;width:300px;height:300px;text-align:center;border:1px solid #ccc;"> Statistic</a>
</div>
</div>
<nav th:replace="base-layout :: footer"></nav>
</body>
</html>