<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<title>TaraCat</title>
</head>
<body style="padding:10px;">
<form th:action="@{/logout}" method="post">
	<input type="submit" value="Sign Out"/>
</form>
<p th:text="'Hello, '+ ${#httpServletRequest.remoteUser} + '!'" />
<div style="width:650px;">
	<a th:href="@{/cat}" title="" style="float:left;width:300px;height:300px;text-align:center;border:1px solid #ccc;">Cat Fight</a>
	<a th:href="@{/tar}" title="" style="float:right;width:300px;height:300px;text-align:center;border:1px solid #ccc;">Run Tarakan</a>
</div>

</body>
</html>