<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">

    <title>TaraCat</title>
</head>
<body>
<div th:replace="base-layout :: header"></div>
<div class="container">
    <div th:object="${hero}">
        <div>
            <li><span>Імя: </span><span th:text="${hero.name}"> Імя</span></li>
            <li><span>Раса: </span><span th:text="${hero.race}"> Імя</span></li>
            <li><span>Клас: </span><span th:text="${hero.heroClass}"> Імя</span></li>
        </div>
        <div>

            <input type="hidden" name="heroId" th:value="${hero.id}">

            <button onclick="delHero2()">Видалити Назавжди</button>
            <script th:inline="javascript">
                function delHero2(){
                    var dh = confirm("Are you sure?");
                    if (dh==true){
                        var id = [[${hero.id}]];
                        var url = "/delete_hero_forever?heroId="+id;
                        document.location.href = url;
                        console.log("Hero "+[[${hero.name}]]+" deleted");
                    }
                }
            </script>

            <button onclick="delHero()">Видалити Безпечно</button>
            <script th:inline="javascript">
                function delHero(){
                   var dh = confirm("Are you sure?");
                     if (dh==true){
                        var id = [[${hero.id}]];
                          var url = "/delete_hero?heroId="+id;
                          document.location.href = url;
                          console.log("Hero "+[[${hero.name}]]+" deleted");
                        }
                    }
            </script>

        </div>
    </div>
</div>
</body>
</html>