<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="base-layout :: head">
<title>Game</title>
</head>
<body>
<nav th:replace="base-layout :: header"></nav>
    <div class="container" align="center">
        <div >
              <h1>Welcome to Game Zone!</h1>
              <img src="../static/images/logimg.jpg" th:src="@{images/logimg.jpg}" alt="Oops! The image was here... " width="100%"/>

        </div>

</div>

<nav th:replace="base-layout :: footer"></nav>
</body>
</html>



