<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

<title>TaraCat</title>
</head>
<body style="padding:10px;">

<div style="width:700px;padding:50px 50px; border:1px solid #000;margin-bottom:25px;">
	<div style="width:700px;height:100px;border:1px solid #ccc;margin-bottom:20px;">
		<div style="width:100px;height:100px;background-color:#c0c0c0;margin-left:115px;" th:text="${tarakanName}">Taracan1</div>
		<div th:style="b"></div>
	</div>
	<div style="width:700px;height:100px;border:1px solid #ccc;">
		<div style="width:100px;height:100px;background-color:#c0c0c0;margin-left:240px;" th:text="${tarakanBotName}">Taracan2</div>
	</div>
</div>

<form method="get" action="run_tarakan">
	<input type="submit" value="Go!" />
</form>

</body>
</html>