<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		#tarU {
			position: relative;
			cursor: pointer;
		}
		#tarB {
			position: relative;
			cursor: pointer;
		}
	</style>
<title>TaraCat</title>
</head>
<body style="padding:10px;">
<form method="get" action="run_tarakan">
<div style="width:700px;padding:50px 50px; border:1px solid #000;margin-bottom:25px;">
	<div style="width:700px;height:100px;border:1px solid #ccc;margin-bottom:20px;">
<!--		<div style="width:100px;height:100px;background-color:#c0c0c0;margin-left:115px;" th:text="${tarakanName}">Taracan1</div>-->
		<img id="tarU" src="../static/images/tarU.png" width="60" th:src="@{images/tarU.png}">
		<script th:inline="javascript">
			tarU.onload = function() {
				let start = Date.now();
				let way = [[${wayUser}]];
				let k = 2000/(way*7);

				let timer = setInterval(function() {
					let timePassed = Date.now() - start;

					tarU.style.left = timePassed/k + 'px';

					if (timePassed > 2000) clearInterval(timer);

				}, 20);
			}
		</script>
		<div th:text="${tarakanName}"></div>
	</div>
	<div style="width:700px;height:100px;border:1px solid #ccc;">
<!--		<div style="width:100px;height:100px;background-color:#c0c0c0;margin-left:240px;" th:text="${tarakanBotName}">Taracan2</div>-->
		<img id="tarB" src="../static/images/tarB.png" width="60" th:src="@{images/tarB.png}">
		<script th:inline="javascript">
			tarB.onload = function() {
				let start = Date.now();
				let way = [[${wayBot}]];
				let k = 2000/(way*7);

				let timer = setInterval(function() {
					let timePassed = Date.now() - start;

					tarB.style.left = timePassed/k + 'px';

					if (timePassed > 2000) clearInterval(timer);

				}, 20);
			}
		</script>
		<div th:text="${tarakanBotName}" ></div>
	</div>
</div>


	<input type="submit" value="Go!" />
</form>
<div>Winner: <span th:text="${winner}"></span></div>

</body>
</html>