<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base-layout :: head">

<title>TaraCat</title>
</head>
<body >
<div th:replace="base-layout :: header"></div>
<div class="container-fluid">
<div style="width:850px;padding:50px 50px; border:1px solid #000;margin-bottom:25px;">
	<input type="hidden" name="tarId" th:value="${tarakan.id}">


	<div style="width:750px;height:100px; border:1px solid #ccc;margin-bottom:20px;">

		<img id="${tarakan.imgId}" th:id="${tarakan.imgId}" src="../static/images/tarU.png" width="60" th:src="@{images/tarU.png}">
		<script th:inline="javascript">
				[(${tarakan.imgId})].onload= function() {
					let start = Date.now();
					let way = [[${wayUser}]];
					let k = 2000/(way*7);

					let timer = setInterval(function() {
						let timePassed = Date.now() - start;

						[(${tarakan.imgId})].style.left = timePassed/k + 'px';

						if (timePassed > 2000) clearInterval(timer);

					}, 20);
				}
		</script>
		<div><input type="hidden" th:value="${tarakan.id}"><span th:text="${tarakan.tarname}"></span></div>
	</div>
	<div th:each="tarakanBot : ${tarakanBots}" style="width:750px;height:100px;border:1px solid #ccc;margin-bottom:20px;">

		<img id="${tarakanBot.imgId}" th:id="${tarakanBot.imgId}" src="../static/images/tarB.png" width="45" th:src="@{images/tarB.png}">
		<script th:inline="javascript" >
			[(${tarakanBot.imgId})].onload = function() {
					let start = Date.now();
					let way = [[${tarakanBot.wayForBot}]];
					let k = 2000/(way*7);

					let timer = setInterval(function() {
						let timePassed = Date.now() - start;

						[(${tarakanBot.imgId})].style.left = timePassed/k + 'px';

						if (timePassed > 2000) clearInterval(timer);

					}, 20);
				}
		</script>
		<div><input type="hidden" th:value="${tarakanBot.tarname}"><span th:text="${tarakanBot.tarname}"></span></div>
	</div>

</div>

<form method="get" action="/run_tarakan_six">
	<input type="hidden" name="tarId" th:value="${tarakan.id}">
	<h4>Choose number of bots to run</h4>
	<span th:each="i : ${#numbers.sequence(tarakan.level * 2 - 1, 10)}">
		<input type="submit" name="numOfTarakans" th:value="${i}"/>
	</span>
</form>
<form method="get" action="/back_to_list">
	<input type="submit" value="Back to my cockroaches" />
</form>
<div>
	<span th:text="${message}"></span>
	<h3>Winner: <span th:text="${winner}"></span></h3>
	<script>

	</script>
</div>
<ol>
<div th:each="place : ${place}">
	<li><span th:text="${place.value}"></span> [<span th:text="${place.key}"></span>]</li>
</div>
</ol>
</div>
</body>
</html>