<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<style th:inline="css" th:each="tarakanBot : ${tarakanBots}">
		#tarU {position: relative; cursor: pointer;}

		#[[${tarakanBot.imgId}]] {position: relative;cursor: pointer;}

	</style>
<title>TaraCat</title>
</head>
<body style="padding:10px;">

<div style="width:750px;padding:50px 50px; border:1px solid #000;margin-bottom:25px;">
	<input type="hidden" name="tarId" th:value="${tarId}">
<!--	<input type="hidden" name="tarakanBot" th:value="${tarakanBot.tarname}">-->


	<div style="width:750px;height:100px; border:1px solid #ccc;margin-bottom:20px;">

		<img id="tarU" src="../static/images/tarU.png" width="60" th:src="@{images/tarU.png}">
		<script th:inline="javascript">
				tarU.onload= function() {
					let start = Date.now();
					let way = [[${wayUser}]];
					let k = 2000/(way*7);

					let timer = setInterval(function() {
						let timePassed = Date.now() - start;

						tarU.style.left = timePassed/k + 'px';

						if (timePassed > 2000) clearInterval(timer);

					}, 20);
				}
		</script>
		<div><input type="hidden" th:value="${tarId}"><span th:text="${tarakanName}"></span></div>
	</div>
	<div th:each="tarakanBot : ${tarakanBots}" style="width:750px;height:100px;border:1px solid #ccc;margin-bottom:20px;">

		<img id="${tarakanBot.imgId}" th:id="${tarakanBot.imgId}" src="../static/images/tarB.png" width="45" th:src="@{images/tarB.png}">
		<script th:inline="javascript" >
			[(${tarakanBot.imgId})].onload = function() {
					let start = Date.now();
					let way = [[${tarakanBot.wayForBot}]];
					let k = 2000/(way*7);

					let timer = setInterval(function() {
						let timePassed = Date.now() - start;

						[(${tarakanBot.imgId})].style.left = timePassed/k + 'px';

						if (timePassed > 2000) clearInterval(timer);

					}, 20);
				}
		</script>
		<div><input type="hidden" th:value="${tarakanBot.tarname}"><span th:text="${tarakanBot.tarname}"></span></div>
	</div>

</div>

<form method="get" action="/run_tarakan_six">
	<input type="hidden" name="tarId" th:value="${tarId}">
	<h4>Виберіть кількість ботів для забігу</h4>
	<input type="submit" name="numOfTarakans" value="1"/>
	<input type="submit" name="numOfTarakans" value="2"/>
	<input type="submit" name="numOfTarakans" value="3"/>
	<input type="submit" name="numOfTarakans" value="4"/>
	<input type="submit" name="numOfTarakans" value="5"/>
	<input type="submit" name="numOfTarakans" value="6"/>
	<input type="submit" name="numOfTarakans" value="7"/>
	<input type="submit" name="numOfTarakans" value="8"/>
	<input type="submit" name="numOfTarakans" value="9"/>
	<input type="submit" name="numOfTarakans" value="10"/>
<!--	<input type="submit" value="Go!" id="tarGo" />-->
</form>
<form method="get" action="/back_to_list">
	<input type="submit" value="choose other tarakan" />
</form>
<div>
<!--	<div>-->
<!--		<span th:text="${wayUser}"></span>-->
<!--		<span th:text="${wayBots}"></span>-->
<!--	</div>-->
	<span th:text="${message}"></span>
	<h3>Winner: <span th:text="${winner}"></span></h3>
	<script>

	</script>
</div>
<ol>
<div th:each="place : ${place}">
	<li><span th:text="${place.value}"></span> [<span th:text="${place.key}"></span>]</li>
</div>
</ol>
</body>
</html>