<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <title>TaraCat</title>
</head>
<body style="padding:10px;">
<a th:href="@{/tar}" title="" style="float:right;width:300px;height:300px;text-align:center;border:1px solid #ccc;">Play Run Tarakan</a>

<form th:action="@{/tarlist}" method="post">

    <div class="form-group">
        <label for="tarname">TarakanName</label>:
        <input type="text"
               id="tarname"
               name="tarname"
               class="form-control"
               autofocus="autofocus"
               placeholder="TarakanName">
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="register-submit"
                       id="register-submit"
                       class="form-control btn btn-info"
                       value="Create new Tarakan">
            </div>
        </div>
    </div>
</form>
<h5>Список тараканів</h5>
    <div th:each="tarakan : ${tarakans}">
        <div th:text="${tarakan.tarname}"></div>
        <div th:text="${tarakan.level}"></div>
        <div th:text="${tarakan.experience}"></div>
        <div th:text="${tarakan.step}"></div>
        <div><a th:href="@{/delete_tarakan(tarId=${tarakan.id})}">delete</a> </div>
    </div>

</body>
</html>