<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

<title>TaraCat</title>
</head>
<body style="padding:10px;">

<div style="padding:10px;float:left;">

	<div style="margin-bottom:10px;">UserName <p th:text="${#httpServletRequest.remoteUser}"/></div>
	
	<div style="width:700px;float:left;">
		<form method="post" action="">
			<div style="width:250px;padding:10px;float:left;border:1px solid #000;">Create new Cat: <input type="text" name="catname" placeholder="Enter CatName" style="margin-right:10px;" /><input type="submit" value="Create" /></div>
		</form>
		<div style="clear:both;"></div>
		<form method="post" action="">
			<div style="width:250px;margin-top:25px;padding:10px;float:left;border:1px solid #000;">
				List of Cats:
				<div style="height:15px;"></div>
				<div style="float:left;">Cat1[5] ( Choose: <input type="radio" name="x" /> )</div><div style="float:right;"><a href="#" title="">X</a></div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">Cat2[4] ( Choose: <input type="radio" name="x" /> )</div><div style="float:right;"><a href="#" title="">X</a></div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">Cat3[3] ( Choose: <input type="radio" name="x" /> )</div><div style="float:right;"><a href="#" title="">X</a></div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">Cat4[1] ( Choose: <input type="radio" name="x" /> )</div><div style="float:right;"><a href="#" title="">X</a></div>
				<div style="height:10px;clear:both;"></div>
			</div>
			<div style="float:left;margin:100px 0px 0px 50px;"><input type="submit" value="Fight!"></div>
			<div style="width:250px;margin-top:25px;padding:10px;float:right;border:1px solid #000;">
				List of BotCats:
				<div style="height:15px;"></div>
				<div style="float:left;">BotCat1[1] ( Choose: <input type="radio" name="y" /> )</div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">BotCat2[2] ( Choose: <input type="radio" name="y" /> )</div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">BotCat3[3] ( Choose: <input type="radio" name="y" /> )</div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">BotCat4[4] ( Choose: <input type="radio" name="y" /> )</div>
				<div style="height:10px;clear:both;"></div>
				<div style="float:left;">BotCat5[5] ( Choose: <input type="radio" name="y" /> )</div>
				<div style="height:10px;clear:both;"></div>
			</div>
		</form>
	</div>

</form>
	
</div>

</body>
</html>